<div class="pricing-container">
  <h2>Get Started</h2>
  <h3>Choose the right plan for your business</h3>

  <div class="plans">
    <mat-card class="plan-card">
      <mat-card-header>
        <mat-card-title>Plan Básico</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h4>$19</h4>
        <span>/mes</span>
        <div class="features">
          <p role="listitem">Evaluación de Proveedores</p>
          <p role="listitem">Gestión Básica de la cadena de suministro</p>
          <p role="listitem">Adquiere 10 días gratuitos</p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="plan-card">
      <mat-card-header>
        <mat-card-title>Plan Profesional</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h4>$39</h4>
        <span>/mes</span>
        <div class="features">
          <p role="listitem">Análsis del Impacto Ambiental</p>
          <p role="listitem">Optimización de procesos premium</p>
          <p role="listitem">3 cuentas de usuario</p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="plan-card">
      <mat-card-header>
        <mat-card-title>Plan Corporativo</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h4>$59</h4>
        <span>/mes</span>
        <div class="features">
          <p role="listitem">Intgeración con sistemas existentes</p>
          <p role="listitem">Consultoria especializada</p>
          <p role="listitem">5 cuentas de usuario</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <button mat-raised-button color="primary" (click)="goToRegister()">Start with Starter</button>
</div>
