<div class="channels-container">
  <mat-card class="channels-card-title">
    <mat-card-header>
      <mat-card-title>Recursos Multimedia</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>

<div *ngFor="let channel of channels" class="channels-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ channel.category }}</mat-card-title>
      <mat-card-subtitle>{{ channel.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p>Subido por {{ channel.author }}</p>
        <p><mat-icon>folder</mat-icon>{{ channel.files }} archivos</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">VER MÁS</button>
    </mat-card-actions>
  </mat-card>
</div>
