<mat-toolbar class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h4>FastLearners</h4>
      <ul>
        <li><p>FastLearners fue fundado por desarrolladores y para desarrolladores.
          Es ahora un recurso valioso para personas que quieren aprovechar al máximo sus dispositivos móviles,
          desde personalizar la apariencia hasta añadir nueva funcionalidad</p></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Más Información</h4>
      <ul>
        <li><a>Contact Us (Forum Issues)</a></li>
        <li><a>Advertise</a></li>
        <li><a>Terms and Rules</a></li>
        <li><a>Suggest Content</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Enlaces Útiles</h4>
      <ul>
        <li><a>Best Phones</a></li>
        <li><a>Tutorials</a></li>
        <li><a>Developer Program</a></li>
        <li><a>Admin & Moderators</a></li>
      </ul>
    </div>
  </div>
</mat-toolbar>
