<div class="subscription-plans">
  <div class="our-plans-container">
    <mat-card class="our-plans">
      <mat-card-header>
        <mat-card-title>Nuestros Planes y Precios</mat-card-title>
        <mat-card-subtitle>Actualiza para desbloquear acceso a videos educativos, repositorios colaborativos y mucho más</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>

  <div class="plans-container">
    <mat-card class="plan">
      <mat-card-header>
        <mat-card-title>Plan Básico</mat-card-title>
        <mat-card-subtitle>S/.15.00 al mes</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li><mat-icon>play_circle_filled</mat-icon>25 videos por mes</li>
          <li><mat-icon>folder</mat-icon>10 repositorios por mes</li>
          <li><mat-icon>description</mat-icon>Acceso a la documentación</li>
          <li><mat-icon>forum</mat-icon>Acceso al foro</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Comprar plan</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="plan">
      <mat-card-header>
        <mat-card-title>Plan Regular</mat-card-title>
        <mat-card-subtitle>S/.20.00 al mes</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li><mat-icon>play_circle_filled</mat-icon>50 videos por mes</li>
          <li><mat-icon>folder</mat-icon>20 repositorios por mes</li>
          <li><mat-icon>description</mat-icon>Acceso a la documentación</li>
          <li><mat-icon>forum</mat-icon>Acceso al foro</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Comprar plan</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="plan">
      <mat-card-header>
        <mat-card-title>Plan Premium</mat-card-title>
        <mat-card-subtitle>S/.50.00 al mes</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li><mat-icon>play_circle_filled</mat-icon>Videos ilimitados</li>
          <li><mat-icon>folder</mat-icon>Repositorios ilimitados</li>
          <li><mat-icon>description</mat-icon>Acceso a la documentación</li>
          <li><mat-icon>forum</mat-icon>Acceso al foro</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Comprar plan</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
