<div class="repos-container">
  <mat-card class="repos-card-title">
    <mat-card-header>
      <mat-card-title>Repositorios</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>

<div *ngFor="let repo of repos" class="repos-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ repo.name }}</mat-card-title>
      <mat-card-subtitle>Última actualización: {{ repo.lastUpdated | date }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ repo.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">VER MÁS</button>
    </mat-card-actions>
  </mat-card>
</div>
