<mat-sidenav-container class="admin-container">
  <mat-sidenav mode="side" opened class="sidebar">
    <div class="profile">
      <img src="https://via.placeholder.com/100" alt="Profile Picture" />
      <h3>Admin Name</h3>
    </div>

    <nav class="nav-links">
      <a mat-button routerLink="summary" routerLinkActive="active">Summary</a>
      <!-- <a mat-button routerLink="plans" routerLinkActive="active">Plans</a> -->
      <a mat-button routerLink="partner" routerLinkActive="active">Partner</a>
      <a mat-button routerLink="workers" routerLinkActive="active">Workers</a>
      <a mat-button routerLink="profile" routerLinkActive="active">Profile</a>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <!-- <mat-toolbar color="primary">
      <span>Admin Dashboard</span>
    </mat-toolbar> -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
