<div class="user-account">
  <div class="profile-section">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Foto de Perfil</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="photo-section">
          <img mat-card-avatar src="assets/ProfilePhotoExample.jpg" alt="Profile Photo"/>
          <div class="buttons">
            <button mat-raised-button color="primary">Subir contenido</button>
            <button mat-raised-button color="accent">Ver contenido subido</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="profile-section">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Perfil</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <h4 matListItemTitle>Sobre mí</h4>
            <p matListItemLine>Estudiante de Ingeniería de software interesado en aprender más de programación</p>
          </mat-list-item>
          <mat-list-item>
            <h4 matListItemTitle>Habilidades</h4>
            <p matListItemLine>Tengo conocimientos en HTML, CSS, JavaScript y Frameworks como Angular, React y Vue</p>
          </mat-list-item>
          <mat-list-item>
            <h4 matListItemTitle>Ocupación</h4>
            <p matListItemLine>Actualmente estudio un postgrado en Ciencia de Datos</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="profile-section">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Datos Personales</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <h4 matListItemTitle>Nombre</h4>
            <p matListItemLine>Pablo</p>
          </mat-list-item>
          <mat-list-item>
            <h4 matListItemTitle>Apellido</h4>
            <p matListItemLine>Melendez</p>
          </mat-list-item>
          <mat-list-item>
            <h4 matListItemTitle>Correo</h4>
            <p matListItemLine>master_pablo&#64;hotmail.com</p>
          </mat-list-item>
          <mat-list-item>
            <h4 matListItemTitle>Contraseña</h4>
            <p matListItemLine>**********</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="profile-section">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Datos de Pago</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <h4 matListItemTitle>Número de Tarjeta</h4>
            <p matListItemLine>4557-3723-1331-4331</p>
          </mat-list-item>
          <mat-list-item>
            <h4 matListItemTitle>Apodo</h4>
            <p matListItemLine>Chavo</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
